body {
  margin: 0;
  padding: 0;
  width: 100%;
}
table {
  margin-left: 30%;
  margin-top: 10%;
  width: 400px;
  border: 1px solid black;
}
td,
th {
  border: 1px solid black;
}
table thead {
  background-color: gray;
}
tbody tr:nth-child(odd) {
  background-color: green;
}
